$primaryColor: gray;
$secondaryColor: rgb(0, 132, 255);
$fontColor: #333;
$menuColor: rgb(0, 155, 255);

$defaultFont: 'Poppins', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight:700;

$gutter: 16px;